<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.whu.bingo.bingoidea">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".ui.FoldTextActivity"></activity>
    <activity android:name=".ui.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".ui.RotateActivity" />
    <activity android:name=".floatview.FloatActivity" />
    <activity
      android:name=".video.VideoPlayActivity"
      android:configChanges="orientation|keyboardHidden|screenSize"
      android:theme="@style/AppNoTitleTheme" />
    <activity android:name=".video.PickVideoActivity" />
  </application>

</manifest>